// Only the target frameworks that are used in projects.
framework: auto-detect

source https://nuget.org/api/v2

nuget Fody < 7
nuget Costura.Fody < 5
nuget JetBrains.Annotations
nuget Newtonsoft.Json
nuget NLog < 5
nuget NUnit < 4
nuget MahApps.Metro
nuget MahApps.Metro.IconPacks.Modern
nuget MahApps.Metro.IconPacks.Material
nuget gong-wpf-dragdrop