// Only the target frameworks that are used in projects.
framework: auto-detect

source https://nuget.org/api/v2

nuget Costura.Fody
nuget JetBrains.Annotations
nuget Newtonsoft.Json ~> 9.0
nuget NLog ~> 4.3
nuget NUnit < 4
nuget MahApps.Metro
nuget MahApps.Metro.IconPacks.Modern
nuget MahApps.Metro.IconPacks.Material
nuget gong-wpf-dragdrop